.tab{
    display: grid;
    text-align: center;
    width: 70%;
    margin: auto;
}

.det{
    background-color: brown;
    margin: auto;
    margin-left: 5px;
   
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}